body {
    background-color: #eee;
}
.main {
    background-color: #fff;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    padding: 20px;
    border-bottom: 1px solid #eee;
    height: 42px;
}
.header .title {
    display: inline-block;
    font-size: 22px;
}
.btn {
    background-color: #1C8CDC;
    padding: 10px 20px;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #0E5F9C;
    box-shadow: 0px 0px 2px #aaa;
    cursor: pointer;
}
.btn.create {
    float: right;
}
.btn.confirm,
.btn.delete {
    width: 100px;
    display: inline-block;
    text-align: center;
}
.btn.delete {
    background-color: red;
}
.btn-wrapper {
    text-align: center;
    margin: 0 auto;

    margin-top: 30px;
}
.content {
    padding: 20px;
}

.row.title {
    color: #999;
    font-size: 14px;
    padding: 6px 0;
}
.row.title > div {
    cursor: pointer;
}

.prod-icon{
    border-radius: 50%;
    border: 4px solid #fff;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px #aaa;
    transition: all 300ms;
}
.prod-icon:hover{
    box-shadow: 0px 0px 5px #1C8CDC;
}

.edit-btn {
    border-radius: 50%;
    background-color: #1C8CDC;
    padding: 10px;
    color: #fff;
    width: 30px;
    min-width: 30px;
    height: 30px;
    border: 1px solid #0E5F9C;
    box-shadow: 0px 0px 2px #aaa;
    font-size: 30px;
    transform: rotate(170deg);
}
.edit-btn:after{
    content: "âœ"
}

.row {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eee;
    transition: all 300ms;
}
.row:hover{
    border-radius: 2px;
    box-shadow: 0px 0px 2px #1C8CDC;
}
.row:last-child {
    border-bottom: 0;
}
.col {
    padding: 10px;
    margin: auto;
}
.col.image {
    width: 100px;
    text-align: center;
}
.col.name {
    flex-grow: 14;
}
.col.price {
    flex-grow: 1;
}
.col.edit {
    flex-grow: 1;
    cursor: pointer;
}
.search {
    position: absolute;
    right: 180px;
    padding: 6px 10px;
    width: 44px;
    transition: all 300ms;
}
.search:focus{
    width: 144px;
    padding: 12px 10px;
    font-size: 14px;
}
.plus {
    font-size: 20px;
    padding: 0 10px 0 6px;
}
.content .list .col.price:before {
    content: "$ ";
}

.light-box {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px;
    background-color: rgba(1,1,1,.6);
}
.show-lightbox .light-box{
    display: block;
}
.form {
    background-color: #fff;
    padding: 30px;
    font-size: 18px;
    height: 100%;
}
.form > span {
    width: 20%;
    display: inline-block;
}
.form >input {
    width: 70%;
    display: inline-block;
}